{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":5,"column":12},"end":{"row":5,"column":13},"action":"insert","lines":["1"],"id":2}],[{"start":{"row":7,"column":12},"end":{"row":8,"column":0},"action":"insert","lines":["",""],"id":3}],[{"start":{"row":8,"column":0},"end":{"row":8,"column":19},"action":"insert","lines":["Flask-PyMongo-2.3.0"],"id":4}]]},"ace":{"folds":[],"scrolltop":150,"scrollleft":0,"selection":{"start":{"row":8,"column":19},"end":{"row":8,"column":19},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":9,"state":"start","mode":"ace/mode/text"}},"timestamp":1578999153498,"hash":"e96a137a314742d9c43e2bead1b813dbcd22d8d3"}