{% extends 'base.html' %} {% block content %}

<div class="container h-100">
 <div class="row d-flex h-100">
    <div class="align-self-start mr-auto">
 <a class="btn btn-primary" href="{{url_for('get_recipes')}}">Back</a>
    </div>
  </div>
</div>

<main class="container">
<h3 class="text-center">Edit recipe</h3>




<div class="row">
    <form action="/update_recipe/{{recipe._id}}" method="POST" class="col-md-12">

        <!--Category selection-->
        <div class="row justify-content-md-center">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">

                    <h5 class="text-center">Categories</h5>
                    <select id="category" name="category_name" class="custom-select">
                        <option value="" disable selected>Choose category</option>
                        {% for cat in categories %}
                        {% if cat.category_name == recipe.category_name %}
                        <option value="{{cat.category_name}}" selected>{{cat.category_name}}</option>
                        {% else %}
                        <option value="{{cat.category_name}}">{{cat.category_name}}</option>

                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        
        <!--Recipe name field-->
        <div class="container-fluid text-center mx-auto">
            <div class="row justify-content-md-center">
                <div class="form-group">
                    <label for="formGroupExampleInput">Recipe name</label>
                    <input type="text" class="form-control" value="{{recipe.recipe_name}}" id="recipe_name" name="recipe_name" placeholder="Recipe name">
                </div>
            </div>
        </div>
        
        <!--Author field-->
        <div class="container-fluid text-center mx-auto">
            <div class="row justify-content-md-center">
                <div class="form-group">
                    <label for="formGroupExampleInput2">Author</label>
                    <input type="text" class="form-control" value="{{recipe.Author}}" id="Author" name="Author" placeholder="Please add your name">
                </div>
            </div>
        </div>

        

        <!--Image field-->
        <div class="container-fluid text-center mx-auto">
            <div class="row justify-content-md-center">
                <div class="form-group">
                    <label for="formGroupExampleInput">Recipe Image</label>
                    <div class="imgurl">
                        <input id="img_src" name="recipe_image" type="text" minlength="15" placeholder="Recipe Photo URL" pattern="https?://.+" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>


        <!-- Serves, Prep time and cook time fields-->
        <div class="container-fluid text-center mx-auto">
            <div class="row justify-content-md-center">
                <div class="form-group">
                    <label for="formGroupExampleInput2">Serves</label>
                    <div>
                    <input type="text" class="form-control" value="{{recipe.Serves}}" id="Serves" name="Serves" placeholder="Please add">
                </div>
            </div>
        </div>
        </div>

        <div class="container-fluid text-center mx-auto">
            <div class="row justify-content-md-center">
                <div class="form-group">
                    <label for="formGroupExampleInput2">Prep Time</label>
                    <input type="text" class="form-control" value="{{recipe.Prep_Time}}" id="Prep_Time" name="Prep_Time" placeholder="Please add">
                </div>
            </div>
        </div>

        <div class="container-fluid text-center mx-auto">
            <div class="row justify-content-md-center">
                <div class="form-group">
                    <label for="formGroupExampleInput2">Cook Time</label>
                    <input type="text" class="form-control" value="{{recipe.Cook_Time}}" id="Cook_Time" name="Cook_Time" placeholder="Please add">
                </div>
            </div>
        </div>

        
         <!--Recipe description container-->
            <div class="container-fluid text-center mx-auto">
                <div class="row">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Description</span>
                        </div>
                        <textarea class="form-control" aria-label="Recipe description" name="recipe_description" rows="3" cols="30">{{recipe.recipe_description}}</textarea>
                    </div>
                </div>
            </div>
        
        <!--Ingredients container-->
        <div class="container-fluid text-center mx-auto">
            <div class="row justify-content-md-center mt-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Ingredients</span>
                    </div>
                    <textarea class="form-control" aria-label="Ingredients" name="Ingredients" rows="7" cols="30">{{recipe.Ingredients}}</textarea>
                </div>
            </div>
        </div>


        <!--Instructions container-->
        <div class="container-fluid text-center mx-auto">
            <div class="row justify-content-md-center mt-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Instructions</span>
                    </div>
                    <textarea class="form-control" aria-label="Instructions" name="Instructions" rows="7" cols="30">{{recipe.Instructions}}</textarea>
                </div>
            </div>
        </div>


        <!--Submit button-->
        <div class="container-fluid text-center mx-auto">
            <div class="row justify-content-md-center mt-4 mb-2">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-warning">Edit Recipe</button>
                </div>
            </div>
        </div>
    </form>

</main>

    {% endblock %}