{% extends 'base.html' %} {% block content %}
<main class="container">
        <div class="row">
    <button id="back-to-results" class="btn btn-secondary" onclick="history.back(-1)">Back</button>
       </div>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
</div>
       
       <!-- Button to open the modal -->
<button onclick="document.getElementById('id02').style.display='block'">Sign Up</button>

<div class="card-deck">
  <div class="card bg-primary">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the first card</p>
    </div>
  </div>
  <div class="card bg-warning">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the second card</p>
    </div>
  </div>
  <div class="card bg-success">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the third card</p>
    </div>
  </div>
  <div class="container">
  <h2>Card Image</h2>
  <p>Image at the top (card-img-top):</p>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <br>

<div class="container-fluid">
<div class="row recipe-header">
        <div class="col-sm-9">
        {% for recipe in recipes%}
        <h5>Category</h5>
        {{recipe.category_name}}
        </div>
        <div class="row">
       <div class="col col-sm-4">
        <h5>Title</h5>
        {{recipe.recipe_name}}
        </div>
        </div>
        <img src="{{ recipe.recipe_image }}" alt="{{ recipe.title}}">
        {{recipe.Serves}}
        {{recipe.Prep_Time}}
        {{recipe.Cook_Time}}
        {{recipe.recipe_description}}
        {{recipe.Author}}
        {{recipe.Ingredients}}
        {{recipe.Instructions}}
        
        </div>
<div class="recipe-header col-sm-9">
  
  <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-warning btn-small" type="submit">Edit</a>
  <form action="/delete_recipe/{{recipe._id}}" method="POST" class="col-s12">
  <button class="btn btn-info btn-small" type="submit">Delete</button>
  </form>
</div>
<div class="col-s9">
  
</div>
        {% endfor %}
        
  



{% endblock %}