{% extends 'base.html' %} {% block content %}

<main class="container">
  <br>
  <h1 class="text-center"> Welcome to College Cookbook app {% if user is defined %}, {{ user.capitalize() }} {% endif %} !!! </h1>
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
  <strong>{{ message }}</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            
      {% endfor %}
  {% endif %}
  {% endwith %}


<div class="container">
  <div class="row">
    <div class="embed-responsive embed-responsive-16by9 col-md-6">
  
  <iframe class="embed-responsive-item videoframe" src="https://www.youtube.com/embed/JjHHWbmtqfM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
     {% if user is defined %}
    <div class="row col-md-6">
      <div class="user-greeting text-center">
        <h3>{{user}}, you are now logged in</h3> 
        <h4>Feel free to add, edit or delete your recipe</h4>
      </div>
    </div>
    {% else %}
    <div class="row col-md-6">
      <div class="text-center invite">
        <h6>You are more than welcome to check our recipes and prepare them.</h6> 
        <h6>Feel free to search through the recipes from 6 different categories</h6>
        <h5>Would you like to share a recipe with all of us ?!?</h5>
      <p>Then all you have to do is register. Here, if you are logged in, you can add, edit or delete your recipe.</p>
      <p>Already have an account ? --> <a data-toggle="modal" data-target="#login" href="#">Login</a></p>
      <p>If not, click the button below</p>
       <!-- Button to open the modal -->
     <a data-toggle="modal" data-target="#register" href=''><button type="button" class="btn btn-primary"> <i class="fa fa-user-plus" aria-hidden="true"></i>Signup</button></a>
     {% endif %}
      
      </div>
    </div>
    
  </div>
</div>

<br>

<nav aria-label="...">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item active"><a class="page-link active" href="#">1</a></li>
    <li class="page-item ">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<br>
<div class="container">
   <div class="row justify-content-center">
     <div class="col-md-4">
       
       {% for recipe in recipes %}
      

       <div class="card shadow" style="width: 20rem;">
         <div class="inner">
  <img class="card-img-top" src="{{ recipe.recipe_image }}" alt="Card image cap">
         </div>
  <div class="card-body text-center">
    <h5 class="card-title">{{ recipe.recipe_name }}</h5>
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <a href="{{url_for('how_to', recipe_id = recipe._id )}}" class="btn btn-primary">How To</a>
    {% endfor %}
  </div>
</div>
       </div>
       
   
   <nav aria-label="...">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item active"><a class="page-link active" href="#">1</a></li>
    <li class="page-item ">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

<br>




{% endblock %}