{% extends 'base.html' %} {% block content %}

        {% for recipe in recipes%}
        {{recipe.category_name}}
        {{recipe.recipe_name}}
        {{recipe.recipe_image}}
        {{recipe.Serves}}
        {{recipe.Prep_Time}}
        {{recipe.Cook_Time}}
        {{recipe.recipe_description}}
        {{recipe.Author}}
        {{recipe.Ingredients}}
        {{recipe.Instructions}}
<div class="recipe-header col-s3">
  
  <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-warning btn-small" type="submit">Edit</a>
  <a class="btn btn-info btn-small" type="submit">Delete</a>
</div>
<div class="col-s9">
  
</div>
        {% endfor %}
        
  



{% endblock %}