{% extends 'base.html' %} {% block content %}

<h2 class="text-center">Stats Page</h2>
<p class="text-center">Here you'll be able to see different charts with information regarding food, including students preferences and food waste by category</p>


<!-- Back Button -->
<div class="container h-100">
    <div class="row d-flex h-100">
        <div class="align-self-start mr-auto">
            <a class="btn btn-primary" href="{{url_for('get_recipes')}}">Back</a>
        </div>
    </div>
</div>

<!-- Images with food related graphs and statistics  -->
<div class="container">
    <div class="row justify-content-center charts">
        <img src="../static/img/chart1.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
</div>

<div class="container">
    <div class="row justify-content-center charts">
        <img src="../static/img/chart2.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
</div>

<div class="container">
    <div class="row justify-content-center charts">
        <img src="../static/img/chart3.png" class="img-fluid rounded" alt="Responsive image">
    </div>
</div>

<div class="container">
    <div class="row justify-content-center charts">
        <img src="../static/img/charts4.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
</div>

<div class="container">
    <div class="row justify-content-center charts">
        <img src="../static/img/chart5.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
</div>










{% endblock %}