{% extends 'base.html' %} {% block content %}

<h2 class="text-center">Stats Page</h2>
<p>Here you'll be able to see different charts with information regarding food, including students preferences and food waste by category</p>

<div class="container">
    
    <div class="charts row justify-content-center">
    <img src="../static/img/chart1.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="charts row justify-content-center">
    <img src="../static/img/chart2.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="charts row justify-content-center">
    <img src="../static/img/chart3.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class=" charts row justify-content-center">
    <img src="../static/img/charts4.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="charts row justify-content-center">
    <img src="../static/img/chart5.jpg" class="img-fluid" alt="Responsive image">
    </div>

</div>























{% endblock %}